@import "tailwindcss";

@theme{
    --color-primary: #030303;
    --color-secondary: #ffffff;
}

@layer utilities {
    @keyframes blink {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }
  
    .animate-blink {
      animation: blink 0.7s step-end infinite;
    }
  }
  
  html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling on the entire page */
  }