@import "tailwindcss";

@theme{
    --color-primary: #252324;
    --color-secondary: #ffffff;
}

@layer utilities {
    @keyframes blink {
      0%, 100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }
  
    .animate-blink {
      animation: blink 0.7s step-end infinite;
    }
  }
  